<div class="list-address mt-3">

    <div class="box-shadow">
        <table mat-table [dataSource]="dataSource">
    
            <ng-container matColumnDef="zip">
                <th mat-header-cell *matHeaderCellDef> CEP </th>
                <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
            </ng-container>
        
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
        
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy HH:mm'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon matSuffix class="icon-action" (click)="delete(element.id)">delete_outline</mat-icon>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[ 10, 20, 30]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>