.list-address {
    table {
        width: 100%;
    }

    .box-shadow {
        border-radius: var(--spacing-xxxs);
        padding: var(--border-radius-lg);
        box-shadow: -6px 8px 17px 0px rgb(0 0 0 / 17%);
    }

    .icon-action {
        cursor: pointer;
        color: var(--color-brand-primary);
        &:hover {
            filter: brightness(0.94);
        }
    }
}

::ng-deep {
    thead {
        tr {
          th {
            font-size: var(--font-size-xxxs);
            font-weight: 600 !important;
            line-height: var(--font-size-xxs);
            letter-spacing: 0.05em;
            text-align: left;
            color: var(--color-brand-primary) !important;
          }
        }
    }
}