<div id="address-dialog">
    <span class="subtitle">Endereço</span>
    <div class="mt-4">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>CEP</mat-label>
            <input matInput [(ngModel)]="data.cep" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Endereço</mat-label>
            <input matInput [(ngModel)]="data.logradouro" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Bairro</mat-label>
            <input matInput [(ngModel)]="data.bairro" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Complemento</mat-label>
            <input matInput [(ngModel)]="data.complemento" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="data.localidade" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="data.estado" >
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button class="btn-custom secondary"  (click)="close()">Ok</button>
    </div>
</div>
